@media screen and (max-width: 1279px){
  .container{
    width:100%;
  }
  img{
    width:100%;
  }
}
/*code for users with a phone*/
@media screen and (max-width:640px){
  img{
    width:100%;
  }
}

/*setting the minimum size of site at 320 which should be enough to cover all devices*/
@media screen and (max-width:320px){
  width:320px;
  img{
    width:100%;
  }
}

/*Code for images to be scaled properly with the rest of the site
img{
  width:100%;
}*/

.container {
  width:1280px;
  height:720px;
  margin:0px auto;
}

/*CSS for the navigation bar*/
ul {
    height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0px;
    margin-left: -10px;
    padding-top: 20px;
    background-color: #FFFFFF;
}

li {
  list-style-type: none;
  display: inline;
  margin-left: 70px;
  margin-right: 70px;
  padding-right: 70px;
}

a {
  font-family:'Eczar', serif;
  font-size:20px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

a:hover{
  color:#9FD19F;
}

p{
  font-family: 'Arima Madurai', cursive;
  padding-left:50px;/*What has move the writing to the right of the container*/
  font-size: 15px;
  text-align:center;
}

img{
  padding:0px;/*what separates the image from the right column section and gives it that extra space*/
  width:1279px;
  height:720px;
}

form {
  font-family: 'Arima Madurai', cursive;
  background-color:transparent;
  color:#FFFFFF;
  position:fixed;
  top:25%;
  right:5%;
  width:250px;
}
h3{
  font-family: 'Tillana', cursive;
  font-weight: 400;
  background-color:transparent;
  color:#FFFFFF;
  position:fixed;
  top: 15%;
  right: 5%;
  width:215px;
}

input[type=text] {
  font-family: 'Eczar', serif;
  font-size: 16px;
  width: 75%;
  padding: 3px;
  margin 8px 0;
  border: .5px solid white;
  border-radius: 8px;
}

input[type=email]{
  font-family: 'Eczar', serif;
  font-size: 16px;
  width: 75%;
  padding: 3px;
  margin 8px 0;
  border: .5px solid white;
  border-radius: 8px;
}
input[type=submit]{
  font-family: 'Arima Madurai', cursive;
  width: 75%;
  padding: 5px;
  margin 3px 0;
  border: .5px solid white;
  border-radius: 8px;
  background-color:#9FD19F;
  color:#FFFFFF;
  font-size: 16px;
}
textarea {
  font-family: 'Eczar', serif;
  font-size: 16px;
  width: 75%;
  height: 50%;
  padding: 10px;
  margin 8px 0;
  border: .5px solid white;
  border-radius: 8px;
}

