@media screen and (max-width: 1600px){
  .container{
    width:100%;
  }
  img{
    width:100%;
  }
}
/*code for users with a phone*/
@media screen and (max-width:640px){
  img{
    width:100%;
  }
}

/*setting the minimum size of site at 320 which should be enough to cover all devices*/
@media screen and (max-width:320px){
  width:320px;
  img{
    width:100%;
  }
}

/*Code for images to be scaled properly with the rest of the site
img{
  width:100%;
}*/

.container {
  width:1600px;
  height:768px;
  margin:0px auto;
  position: relative;
}
.nav {
  width:100%;
  height:42px;
}

/*CSS for the navigation bar*/
ul {
    top:0px;
    left:0px;
    margin-top:0px;
    height: 40px;
    position: fixed;
    width: 1600px;
    margin-bottom: 0px;
    padding-top: 10px;
    background-color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
}

li {
  list-style-type: none;
  display: inline;
  margin-left: 0%;
  margin-right: 5%;
  padding-left: 0%;
  padding-right: 5%;
}

a {
  font-family: 'Poiret One', cursive;
  margin-top: 30%;
  font-size:20px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

a:hover{
  color:#9FD19F;
}

p{
  position:fixed;
  top:90%;
  right:40%;
  font-family: 'Arima Madurai', cursive;
  padding-left:50px;/*What has move the writing to the right of the container*/
  font-size: 15px;
  text-align:center;
}

img{
  top:0px;
  margin-left: -20px;
  margin-bottom: 0px;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  z-index: -1;
}

form {
  font-family: 'Arima Madurai', cursive;
  background-color:transparent;
  color:#FFFFFF;
  position:fixed;
  top:25%;
  right:10%;
  width:250px;
}
h1{
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
  background-color:transparent;
  color:#FFFFFF;
  position:fixed;
  top: 40%;
  left: 10%;
}
h2{
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
  background-color:transparent;
  color:#FFFFFF;
  position:fixed;
  top: 50%;
  left: 10%;
}
h3{
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
  background-color:transparent;
  color:#FFFFFF;
  position:fixed;
  top: 20%;
  right: 10%;
  width:215px;
}
.downloads {
  position:fixed;
  top:75%;
  left:2%;
  width:45%;
}

.save {
  font-family: 'Poiret One', cursive;
  background-color:transparent;
  position:fixed;
  color:#FFFFFF;
  top: 58%;
  left: 5%;
  width:15%;
}
h5 {
  font-family: 'Poiret One', cursive;
  background-color:transparent;
  position:fixed;
  color:#FFFFFF;
  top: 60%;
  left: 5%;
  width:45%;
}
.indexlink {
  font-weight: lighter;
  background-color:transparent;
  position:fixed;
  color:#FFFFFF;
  top: 70%;
  left: 5%;
  width:55%;

}

input[type=text] {
  font-family: 'Eczar', serif;
  font-size: 16px;
  width: 75%;
  padding: 3px;
  margin 8px 0;
  border: .5px solid white;
  border-radius: 8px;
}

input[type=email]{
  font-family: 'Eczar', serif;
  font-size: 16px;
  width: 75%;
  padding: 3px;
  margin 8px 0;
  border: .5px solid white;
  border-radius: 8px;
}
input[type=submit]{
  font-family: 'Arima Madurai', cursive;
  width: 75%;
  padding: 5px;
  margin 3px 0;
  border: .5px solid white;
  border-radius: 8px;
  background-color:#9FD19F;
  color:#FFFFFF;
  font-size: 16px;
}
textarea {
  font-family: 'Eczar', serif;
  font-size: 16px;
  width: 75%;
  height: 50%;
  padding: 10px;
  margin 8px 0;
  border: .5px solid white;
  border-radius: 8px;
}
button {
  position:fixed;
  top:90%;
  right:30%;
  text-align:center;
  padding-left:50px;
}
  
